@import "../variables.modules";

footer {
  color: $dark;
}

body dark {
  background-color: $dark;
  color: $white;
  transition: all 400ms;
  min-width: 100vh;
}

.dark {
  background-color: $dark;
  color: $white;
  transition: all 400ms;
  min-width: 100vh;


  a, i, li {
    color: $white;
    transition: color 400ms;
  }

  a:visited {
    color: $white;
  }

  footer {
    color: $white;
  }

  a:hover, i:hover, li:hover {
    color:  $lightgray;
  }
}

.light {
  background-color: $lightgray;
  color: $dark;
  transition: all 400ms;
  min-width: 100vh;
}
