$purple: #8D53FF;
$pink: #CA6BE6;
$white: #fffefe;
$dark: #0b0e0e;
$red: #FF6057;
$yellow: #FFBD2E;
$green: #27C93F;
$lightgray: #0ae0b9;

$transition: all 250ms ease;

.shadowed {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}